<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
</head>
<div class="container-fluid">
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-6" style="width: 100%;">
      <div class="d-flex justify-content-start align-items-center mb-3">
        <img src="../../../assets/users/generceo.png" alt="Imagen de usuario" class="img-fluid mx-3 my-2 rounded-5"
          style="width: 50px; height: 50px;">
        <h4 class="my-2">Mi Cuenta</h4>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-12 " style="width: 100%;">
      <form [formGroup]="form1" (ngSubmit)="onSubmitDatos()">
        <h4 class="mb-3">Mi Información</h4>

        <div class="row mb-3">
          <div class="col-2">
            <label for="nombre" class="form-label">Nombre:</label>
          </div>
          <div class="col-6">
            <input type="text" formControlName="nombre" class="form-control rounded-pill bg-azure-web" id="nombre"
              name="nombre">

              <div *ngIf="form1.get('nombre')?.invalid && (form1.get('nombre')?.dirty || form1.get('nombre')?.touched)">
                <div class="control-error" *ngIf="form1.get('nombre')?.errors?.['required']">El campo Nombre es requerido.</div>
                <div class="control-error" *ngIf="form1.get('nombre')?.errors?.['minlength']">El campo Nombre debe tener al menos 3 caracteres.</div>
                <div class="control-error" *ngIf="form1.get('nombre')?.errors?.['maxlength']">El campo Nombre debe tener menos de 32 caracteres.</div>
              </div>

          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2">

            <label for="email" class="form-label">Correo Electrónico:</label>
          </div>
          <div class="col-6">

            <input type="email" formControlName="email" class="form-control rounded-pill bg-azure-web" id="email"
              name="email">

              <div *ngIf="form1.get('email')?.invalid && (form1.get('email')?.dirty || form1.get('email')?.touched)">
              <div class="control-error" *ngIf="form1.get('email')?.errors?.['required']">El campo Email es requerido.</div>
              <div class="control-error" *ngIf="form1.get('email')?.errors?.['email']">No es un email valido</div>
            </div>

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-2">

            <label for="telefono" class="form-label">Teléfono:</label>
          </div>
          <div class="col-6">

            <input type="tel" formControlName="tel" class="form-control rounded-pill bg-azure-web" id="telefono"
              name="telefono">


              <div *ngIf="form1.get('tel')?.invalid && (form1.get('tel')?.dirty || form1.get('tel')?.touched)">
                <div class="control-error" *ngIf="form1.get('tel')?.errors?.['required']">El campo número es requerido.</div>
                <div class="control-error" *ngIf="form1.get('tel')?.errors?.['pattern']">No es un número valido</div>
              </div>


          </div>
        </div>
        <div class="d-flex col-8 justify-content-end align-items-end">

          <button type="submit" [disabled]="form1.invalid"
            class="btn btn-primary rounded-pill text-white ">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-6" style="width: 100%;">
      <form [formGroup]="form2" (ngSubmit)="onSubmitContrasenas()">
        <h4 class="mb-3">Cambio de Contraseña</h4>
        <div class="row mb-3">
          <div class="col-2">

            <label for="npass" class="form-label">Nueva Contraseña:</label>
          </div>

          <div class="col-6">

            <input type="password" formControlName="npass" class="form-control rounded-pill bg-azure-web" id="npass"
              name="npass">

              <div *ngIf="form2.get('npass')?.invalid && (form2.get('npass')?.dirty || form2.get('npass')?.touched)">
                <div class="control-error" *ngIf="form2.get('npass')?.errors?.['required']">Se requiere una contraseña</div>
                <div class="control-error" *ngIf="form2.get('npass')?.errors?.['minlength']">Se requiere una contraseña de al menos 8 caracteres.</div>
                <div class="control-error" *ngIf="form2.get('npass')?.errors?.['maxlength']">La contraseña no debe exceder de 32 caracteres.</div>
              </div>

          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2">

            <label for="cpass" class="form-label">Confirmar Contraseña:</label>
          </div>
          <div class="col-6">

            <input type="password" formControlName="cpass" class="form-control rounded-pill bg-azure-web" id="cpass"
              name="cpass">

              <div *ngIf="form2.get('cpass')?.invalid && (form2.get('cpass')?.dirty || form2.get('cpass')?.touched)">
                <div class="control-error" *ngIf="form2.get('cpass')?.errors?.['required']">Se requiere una contraseña</div>
                <div class="control-error" *ngIf="form2.get('cpass')?.errors?.['minlength']">Se requiere una contraseña de al menos 8 caracteres.</div>
                <div class="control-error" *ngIf="form2.get('cpass')?.errors?.['maxlength']">La contraseña no debe exceder de 32 caracteres.</div>
              </div>

              <div  class="control-error" *ngIf="form2.hasError('passwordsDoNotMatch') && (form2.get('npass')?.dirty || form2.get('cpass')?.dirty)">
                Las contraseñas no coinciden
              </div>

          </div>
        </div>
        <div class="d-flex col-8 justify-content-end align-items-end">

          <button type="submit" [disabled]="form2.invalid"
            class="btn btn-primary rounded-pill w-10 text-white">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>