<div
  class="border border-primary"
  [style.background-color]="webContent.backgroundColor"
>
<!-- Componente para construir el header del sitio -->
  <app-titulo-lienzo
    [hero]="webContent.header.hero"
    [title]="webContent.header.title"
    [position]="webContent.header.position"
    [size]="webContent.header.size"
    [color]="webContent.header.color"
    [image]="webContent.header.image"
  >
  </app-titulo-lienzo>
  <!-- Componente para construir los elementos que conforman al body del sitio -->
  <app-body-builder
    *ngFor="let item of this.webContent.body; let i = index"
    [webContent]="item"
  >
  </app-body-builder>
  <br>
  <br>
  <!-- Componente para construir el footer del sitio -->
  <app-footer-lienzo
    class="m-0 p-0"
    [backgroundColor]="webContent.footer.backgroundColor"
    [textColor]="webContent.footer.textColor"
    [setSocialMedia]="webContent.footer.socialMedia.setSocialMedia"
    [facebookUrl]="webContent.footer.socialMedia.facebook"
    [instagramUrl]="webContent.footer.socialMedia.instagram"
    [twitterUrl]="webContent.footer.socialMedia.twitter"
    [linkedinUrl]="webContent.footer.socialMedia.linkedin"
    [tiktokUrl]="webContent.footer.socialMedia.tiktok"
    [otroUrl]="webContent.footer.socialMedia.otro"
    [setExtra]="webContent.footer.extra.setExtra"
    [imgExtraFooter]="webContent.footer.extra.image"
    [textExtraFooter]="webContent.footer.extra.text"
    [setContact]="webContent.footer.contact.setContact"
    [phone]="webContent.footer.contact.phone"
    [address]="webContent.footer.contact.address"
  ></app-footer-lienzo>
</div>
