  <div class="container bg-secondary">
    <div class="px-0">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 vh-100"
      >
        <br>
        <span class="fs-5 d-none d-sm-inline pt-5">Menú</span>
        <ul
          *ngIf="role=='admin'"
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li >
            <app-menu-option
              [titulo]="'Mis sitios'"
              [link]="'misSitios'"
              [icon]="'bi-house'"
            ></app-menu-option>
          </li>
          <li>
            <app-menu-option
              [titulo]="'Ranking'"
              [link]="'ranking'"
              [icon]="'bi-list-stars'"
            ></app-menu-option>
          </li>
          <li>
            <app-menu-option
              [titulo]="'Mi cuenta'"
              [link]="'mi-cuenta'"
              [icon]="'bi-person-circle'"
            ></app-menu-option>
          </li>
        </ul>
        <ul
          *ngIf="role=='superadmin'"
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li>
            <app-menu-option
              [titulo]="'Usuarios'"
              [link]="'sasitios'"
              [icon]="'bi-person-circle'"
            ></app-menu-option>
          </li>
        </ul>
        <div class="d-flex justify-content-center mb-4 ms-3">
            <button (click)="logout()" class="btn btn-primary rounded-pill  text-white">Cerrar sesión</button>
        </div>  
      </div>
    </div>
  </div>
