div {
    padding-right: 0px;
  }

  input.ng-invalid.ng-touched {
    border: solid 2px rgb(223, 107, 87) !important;
  }
  
  input.ng-valid {
    border: solid 2px #3cc53d !important;
  }

  .control-error{
    color: rgb(223, 107, 87);
    font-size: 12px;
  }