$azure-web: #D4E8E9;
$primary: #00ADB5;


$theme-colors: (
    "azure-web": $azure-web,
    "danger": #ca2727,
    "primary": $primary,
    "secondary": #E2ECEC
);


@import "../../node_modules/bootstrap/scss/bootstrap";
